<%= tinymce_assets %>
<%= tinymce %>

<div class="white_background">
  <span class="title"> Edit Article </span>
  <hr>
  <br>
  <%= form_for @article ,:html => { :multipart => true } do |article| %>
    <%= article.label :title %> :
    <%= article.text_field :title, :autofocus => true %><br>
    <%= display_error(@article, 'title') %><br>

    Avatar : <%= article.file_field :avatar %>
    <%= display_error(@article, 'avatar') %><br><br>

    Category :
    <% @categories = Category.all %>
    <%= select_tag 'category_id', options_from_collection_for_select(@categories, 'id', 'name', @article.category.id) %><br>
    <%= display_error(@article, 'category') %><br>

    <%= article.text_area :content, :class => "tinymce", :cols => '85', :rows => '50' %><br>
    <%= display_error(@article, 'content') %><br>
    
    <%= article.submit %>
  <% end %>
</div>