<% @articles.each do |article| %>
  <div class="one_article">
    <div class="article_icon">
      
      <% if article.category.name == 'Party' %>
        <%= image_tag "/images/icon_party.png" %>
      <% end %>
      <% if article.category.name == 'Visit' %>
        <%= image_tag "/images/icon_visit.png" %>
      <% end %>
      <% if article.category.name == 'Life' %>
        <%= image_tag "/images/icon_life.jpg" %>
      <% end %>
      <% if article.category.name == 'Sport' %>
        <%= image_tag "/images/icon_sport.png" %>
      <% end %>
        
    </div>
    <div class="article_content">
      <span class="article_title"><%= link_to "#{article.title}", article_path(article.title) %></span><br>

      <span class="article_date"><%= article.published_on.strftime('%A, %B %d %Y') %> </span>
      <span class="article_comment"><%= article.comments.count %> Comments
        <% if user_signed_in? %>
          <%= link_to "Edit", edit_article_path(article) %>
          <%= link_to "Delete", article_path(article), :method => "delete", :confirm => "Are you sure?" %>
        <% end %>
      </span>  
    </div>
    <div style="clear: both;"></div>
  </div>  
<% end %>
<% if @articles.count > 10 %>
  <div class="apple_pagination">
    <%= will_paginate @articles %>
  </div> 
<% end %> 
