<div class="show_one_article">
  <span class="title"><%= @article.title %></span><br>
  <span class="article_date">Published on <%= @article.published_on.strftime('%A, %B %d %Y') %></span>
  
  <% if @article.comments.count == 0 %>
      <%= link_to "No comment yet", "#list_comment_bloc", :class => 'show_article_comment' %>
  <% else %>
      <%= link_to "#{@article.comments.count} comment(s)", "#list_comment_bloc", :class => 'show_article_comment' %>
  <% end %>
  <span class="article_view_count"><%= @article.impressionist_count(:filter=>:ip_address) %> Views</span><br>
  <div id="tweet_button"><%= tweet_button(:count => "horizontal", :text => "Visit this awesome blog article : ") %></div>
  <div id="facebook_like"><%= like_button("161594363997737") %></div>
  

  <br>
  <hr>
  <br>
  <%= raw(@article.content) %>

  <br><hr><br>

  <div class="add_comment_bloc">
    <% @comment = Comment.new %>
    <%= form_for [@article, @comment] do |f| %>
      <table>
        <tr>
            <td><%= f.label :author %> : </td>
            <td><%= f.text_field :author, :placeholder => "Enter your name" %></td>
        </tr>
        <tr><td><%= display_error(@comment, 'author') %></td></tr>
        <tr>
            <td><%= f.label :content %> : </td>
            <td><%= f.text_area :content, :cols => '68', :rows => '2', :placeholder => "Write your comment" %></td>
        </tr>
        <tr><td><%= display_error(@comment, 'content') %></td></tr>
        <tr><td></td><td><%= f.submit "Add comment" %></td></tr>
      </table>
    <% end %>
  </div>
  <br>

  <div id="list_comment_bloc">
    <span class="second_title">
    <% if @article.comments.count == 0 %>
        No comment yet
    <% else %>
        Showing <%= @article.comments.count %> Comment(s)
    <% end %>    
    </span>

    <% @article.comments.each do |comment| %>
      <hr class="comment_hr">
      <div class="one_article_comment">    
        <span class="comment_author"><%= comment.author %></span>
        <span class="comment_published_on"><%= comment.published_on.strftime('%m-%d-%Y @ %I:%M %p') %></span><br>
        <%= raw sanitize(simple_format(comment.content)) %>
      </div>

    <% end %>
  </div>
  

</div>