<!DOCTYPE html>
<html>
<head>
  <title>ChillOutInLA</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
</script>

<body>
  <div id="myblog_headline_container">
    <span class="myblog_headline">
      Blog about the life of a French expatriate living in Los Angeles.
      <% if user_signed_in? %>
        - <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
      <% end %>
    </span>  
    <span class="myblog_socialnetwork">
      <%= image_tag('/images/icon_twitter.png') %>
      <%= image_tag('/images/icon_facebook.png') %>
    </span>
  </div>
    <div id="myblog_page">
      <div id="myblog_page_container">
        <div id="myblog_header">   
          <div id="logo">
            <%= link_to image_tag('/images/logo.png'), articles_path %>
            <blockquote class="myblog_quotes">"<%= display_quote() %>"</blockquote>
          </div>
          <!-- Slider Image -->
        </div>  
          <div class="slider-wrapper theme-light">
              <div id="slider" class="nivoSlider">
                  <img src="/images/image1.jpg" data-thumb="/images/image1.jpg" alt="" title="Example 2"/>
                  <a href="http://dev7studios.com"><img src="/images/image2.jpg" data-thumb="/images/image2.jpg" alt="" title="This is an example of a caption" /></a>
                  <img src="/images/image3.jpg" data-thumb="/images/image3.jpg" alt="" data-transition="slideInLeft" title="Example3" />
                  <img src="/images/image4.jpg" data-thumb="/images/image4.jpg" alt="" data-transition="slideInLeft" title="Example4" />
                  
              </div>
          </div>

        <!-- MyBlog Body (Articles) -->
        <div id="myblog_body">
          <div id="myblog_body_articles">
            <%= yield %>
          </div>
          <div id="myblog_body_categories">
            <%= image_tag "/images/fabdarice.png" %>
              <% categories = Category.all %>
              <% categories.each do |category| %>
                <%= link_to "#{category.name} (#{Article.where(category_id: category.id).count})", articles_path %> <br>
              <% end %>
          </div>
        </div>
      </div>
    </div>

</body>
</html>
