<!DOCTYPE html>
<html>
<head>
  <title>ChillOut In Los Angeles</title>
  <%= stylesheet_link_tag 'application', :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
</script>

<body>
  <div id="myblog_headline_container">
    <div id="myblog_headline">
      Blog about the life of a French expatriate living in Los Angeles.
      <% if user_signed_in? %>
        - <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
      <% end %>

      <span class="headline_socialnetwork_icon">
        <%= image_tag('/images/icon_twitter.png') %>
        <%= image_tag('/images/icon_facebook.png') %>
      </span>
    </div>
  </div>
    <div id="myblog_page">
      <div id="myblog_page_container">
        <div id="myblog_header">   
          <div id="logo">
            <%= link_to image_tag('/images/logo.png'), articles_path("all") %>
            <blockquote class="myblog_quotes">"<%= display_quote() %>"</blockquote>
          </div>
          <!-- Slider Image -->
        </div>  
          <div class="slider-wrapper theme-light">
              <div id="slider" class="nivoSlider">
                  <% @last_articles = Article.limit(4).order_by([:published_on, :desc]) %>
                  <% @last_articles.each do |last_article| %>
                    <%= link_to (image_tag last_article.avatar.url(:medium), :title => last_article.title.gsub(/^#/, " #"), :alt => last_article.title), article_path(last_article) %>
                  <% end %>
              </div>
          </div>

        <!-- MyBlog Body (Articles) -->
        <div id="myblog_body">
          <div id="myblog_body_articles">
            <%= yield %>
          </div>
          <div id="myblog_body_rightside">
              <div id="myblog_body_categories">
                <div class="myblog_menu_header">
                   <%= image_tag '/images/icon_filter.png' %> FILTER ARTICLES
                </div>
                <ul>
                  <li><%= link_to "Show All (#{Article.all.count})", articles_path("all") %></li>
                  <% categories = Category.all %>
                  <% categories.each do |category| %>
                    <li><%= link_to "#{category.name} (#{Article.where(category_id: category.id).count})", articles_path(category.name) %></li>
                  <% end %>
                </ul>  
              </div><br>

              <div id="myblog_body_categories">
                <div class="myblog_menu_header">
                    <%= image_tag '/images/icon_welcome.png' %> WELCOME BUDDY
                </div><br>
                <%= image_tag "/images/fabdarice.png" %>  
                <br>
                <p class="welcome_text">Hello I am Fabrice, French living in LA !! Follow my ezfezfezfok efzkezofke</p>
              </div>

              
          </div>
        </div>
          
      </div>
    </div>

</body>
</html>
