<!DOCTYPE html>
<html>
<head>
  <title>Chill Out In Los Angeles</title>
  <%= stylesheet_link_tag 'application', :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
    <%= metamagic :description => "Chillout In Los Angeles is a pleasant blog about a French expatriate who moves to Los Angeles to live the California Dream. Follow up his daily life but most of all how he chill out!", :keywords => %w(blog losangeles expatriate life los angeles LA) %>

  <%= render 'layouts/google_analytics' if Rails.env.production? %>
</head>
<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
</script>

<body>
  <div id="myblog_headline_container">
    <div id="myblog_headline">
      Blog about the life of a French expatriate in Los Angeles.
      <% if user_signed_in? %>
        - <%= link_to "Log out", destroy_user_session_path, :method => :delete %> - 
        <%= link_to "New Article", new_article_path() %>
      <% end %>

      <span class="headline_socialnetwork_icon">
        <%= link_to image_tag('/images/icon_twitter.png'), "https://twitter.com/fAbdARiCe" %>
        <%= link_to image_tag('/images/icon_facebook.png'), "http://www.facebook.com/fabrice.darice" %>
        <%= link_to image_tag('/images/icon_googleplus.png'), "https://plus.google.com/102225463958914985832/about" %>
      </span>
    </div>
  </div>
    <div id="myblog_page">
      <div id="myblog_page_container">
        <div id="myblog_header">   
          <div id="logo">
            <%= link_to image_tag('/images/logo.png'), articles_path("all") %>
            <blockquote class="myblog_quotes">"<%= display_quote() %>"</blockquote>
          </div>
          <!-- Slider Image -->
        </div>  
          <div class="slider-wrapper theme-light">
              <div id="slider" class="nivoSlider">
                  <% @last_articles = Article.limit(4).order_by([:published_on, :desc]) %>
                  <% @last_articles.each do |last_article| %>
                    <%= link_to (image_tag last_article.avatar.url(:medium), :title => last_article.title.gsub(/^#/, " #"), :alt => last_article.title), article_path(last_article) %>
                  <% end %>
              </div>
          </div>

        <!-- MyBlog Body (Articles) -->
        <div id="myblog_body">
          <div id="myblog_body_articles">
            <%= yield %>
          </div>
          <div id="myblog_body_rightside">
              <div id="myblog_body_categories">
                <div class="myblog_menu_header">
                   FILTER
                </div>
                <ul>
                  <li><%= link_to "Show All (#{Article.all.count})", articles_path("all") %></li>
                  <% categories = Category.all %>
                  <% categories.each do |category| %>
                    <li><%= link_to "#{category.name} (#{Article.where(category_id: category.id).count})", articles_path(category.name) %></li>
                  <% end %>
                </ul>  
              <br>

                <div class="myblog_menu_header">
                    WELCOME
                </div><br>
                <div class="my_picture"><%= image_tag "/images/fabdarice.png" %>  </div>
                <p class="welcome_text">
                    Hi guys !<br><br>
                    I'm Fabrice, from Paris.<br>
                    Reading blogs about expatriates living in Los Angeles have been a huge help to me. This is actually the reason why I decided to move in LA and live the California dream.<br><br>
                    As I hope I can return the favor and help young and bright mind like yourself, this blog will share some precious moment of my daily life.<br>

                    <br>Enjoy.... and chill out !<br>
                </p>

              </div>


              
          </div>
        </div><br><br>
        <hr class="hr_footer">
        <div id="footer">
            <%= link_to "Chillout-in-losangeles.com", articles_path("all") %> - Daily Life of a French expatriate in Los Angeles - <%= link_to "Contact Us", new_contacts_path %>
        </div>  
      </div>
    </div>

</body>
</html>
